doctype html
html
  head
    link(rel='stylesheet', href='/app.css')
    script(src='/socket.io/socket.io.js')
    script(src='/vendor/underscore.js')
    script(src='/vendor/jquery.js')
    script.
      var socket = io();
      var templates = {};
      var content = {};
    script(src='/templates.js')
    block head
    script(src='/app.js')

  body
    block content
