extends layout

block head
  title Share-Guitar
  script(src='/js/slowmo.js')
  script.
    var switchTo5x=true;
  script(src="http://w.sharethis.com/button/buttons.js")
  link(rel='stylesheet', href='/css/slowmo.css')
  script.
    stLight.options({
      publisher: "9a60c831-fc15-4069-b4e3-c47e81ce5b0f",
      doNotHash: false,
      doNotCopy: false,
      hashAddressBar: false,
      title: "US Air Guitar - Wall of Rock",
      summary: "Wall of Rock, US Air Guitar",
      image: "http://share-guitar.com/social.png"
    });
  script.
    var preloadedSlowmos = [!{JSON.stringify(slowmo)}]

  meta(property="og:locale" content="en_US")
  meta(property="og:title", content="My performance in The Wall of Rock")
  meta(property="og:description", content="The world's first air guitar museum is presented by US Air Guitar, who will visit Kansas City on August 9 to hold the 2014 US Air Guitar National Finals at The Midland Theatre. #usairguitar")
  meta(property="og:type", content="video.movie")
  meta(property="og:video" content="#{slowmo.url}")
  meta(property="og:site_name", content="Share-Guitar")
  meta(property="og:url", content="http://www.share-guitar.com/slowmo/#{slowmo.shortCode}")
  meta(property="og:image", content="http://share-guitar.com/social.png")

block content
  .container
    h1 Share-Guitar
    #content

    h4 Share This
    span.st_facebook_large(displayText='Facebook')
    span.st_twitter_large(displayText='Tweet')
    span.st_email_large(displayText='Email')
