extends layout

block head
  title Share-Guitar
  script(src='/js/slowmo.js')
  script.
    var switchTo5x=true;
  script(src="http://w.sharethis.com/button/buttons.js")
  script.
    stLight.options({publisher: "9a60c831-fc15-4069-b4e3-c47e81ce5b0f", doNotHash: false, doNotCopy: false, hashAddressBar: false});
  script.
    var preloadedSlowmos = [!{JSON.stringify(slowmo)}]

block content
  .container
    h1 Share-Guitar
    #content

    h4 Share This
    span.st_facebook_large(displayText='Facebook')
    span.st_twitter_large(displayText='Tweet')
    span.st_email_large(displayText='Email')
