#blocks
  z-index 2
  position absolute

.block
  top 0
  left 0
  position absolute
  display block
  width 200px
  height 230px
  overflow hidden

// Configure Rows
#block-0, #block-1, #block-2, #block-3, #block-4, #block-5
  top 0
#block-6, #block-7, #block-8, #block-9, #block-10, #block-11
  top 105px
#block-12, #block-13, #block-14, #block-15, #block-16, #block-17
  top 210px
#block-18, #block-19, #block-20, #block-21, #block-22, #block-23
  top 315px

// Configure Columns
#block-0, #block-6, #block-12, #block-18
  left 0
#block-1, #block-7, #block-13, #block-19
  left 105px
#block-2, #block-8, #block-14, #block-20
  left 210px
#block-3, #block-9, #block-15, #block-21
  left 315px
#block-4, #block-10, #block-16, #block-22
  left 420px
#block-5, #block-11, #block-17, #block-23
  left 525px
