html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  -webkit-perspective: 100px;
  -webkit-perspective-origin: top right;
}
#wall {
  position: absolute;
  left: 0;
  top: 0;
}
#video-configs {
  position: absolute;
  width: 668px;
  height: 540px;
  z-index: 1;
}
#video-configs .config {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#video-configs .mask {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-mask-position: -63px -4px;
  -webkit-mask-size: 147%;
}
#video-configs video {
  -webkit-filter: brightness(2);
  position: absolute;
  margin: 0;
}
#video-configs .config.takeover .mask {
  width: 100%;
  height: 100%;
  -webkit-mask-size: 101%;
  -webkit-mask-position: 0 12px;
  -webkit-mask-image: url("/masks/showcase.svg");
}
#video-configs .config.takeover .mask video {
  margin-left: -50%;
}
#video-configs .config.two-up .mask:nth-child(1) {
  -webkit-mask-image: url("/masks/two-up-0.svg");
}
#video-configs .config.two-up .mask:nth-child(1) video {
  top: 10px;
  left: 0;
  width: 250px;
  display: block;
}
#video-configs .config.two-up .mask:nth-child(2) {
  -webkit-mask-image: url("/masks/two-up-1.svg");
}
#video-configs .config.two-up .mask:nth-child(2) video {
  top: 10px;
  left: 125px;
  width: 230px;
}
#video-configs .config.two-up .mask:nth-child(3) {
  -webkit-mask-image: url("/masks/two-up-2.svg");
}
#video-configs .config.two-up .mask:nth-child(3) video {
  top: 7px;
  left: 220px;
  width: 230px;
}
#video-configs .config.two-up .mask:nth-child(4) {
  -webkit-mask-image: url("/masks/two-up-3.svg");
}
#video-configs .config.two-up .mask:nth-child(4) video {
  top: 25%;
  width: 750px;
  left: -40px;
}
#video-configs .config.two-up .mask:nth-child(5) {
  -webkit-mask-image: url("/masks/two-up-4.svg");
}
#video-configs .config.two-up .mask:nth-child(5) video {
  top: 0;
  left: 150px;
  width: 700px;
}
#video-configs .config.two-up .mask:nth-child(6) {
  -webkit-mask-image: url("/masks/two-up-5.svg");
}
#video-configs .config.two-up .mask:nth-child(6) video {
  left: 360px;
  top: 347px;
  width: 220px;
}
#video-configs .config.two-up .mask:nth-child(7) {
  -webkit-mask-image: url("/masks/two-up-6.svg");
}
#video-configs .config.two-up .mask:nth-child(7) video {
  left: 470px;
  top: 330px;
  width: 220px;
}
#video-configs .config.two-up .mask:nth-child(8) {
  -webkit-mask-image: url("/masks/two-up-7.svg");
}
#video-configs .config.two-up .mask:nth-child(8) video {
  left: 570px;
  top: 320px;
  width: 220px;
}
#blocks {
  z-index: 2;
  position: absolute;
}
.block {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 200px;
  height: 230px;
  overflow: hidden;
}
#block-0,
#block-1,
#block-2,
#block-3,
#block-4,
#block-5 {
  top: 0;
}
#block-6,
#block-7,
#block-8,
#block-9,
#block-10,
#block-11 {
  top: 105px;
}
#block-12,
#block-13,
#block-14,
#block-15,
#block-16,
#block-17 {
  top: 210px;
}
#block-18,
#block-19,
#block-20,
#block-21,
#block-22,
#block-23 {
  top: 315px;
}
#block-0,
#block-6,
#block-12,
#block-18 {
  left: 0;
}
#block-1,
#block-7,
#block-13,
#block-19 {
  left: 105px;
}
#block-2,
#block-8,
#block-14,
#block-20 {
  left: 210px;
}
#block-3,
#block-9,
#block-15,
#block-21 {
  left: 315px;
}
#block-4,
#block-10,
#block-16,
#block-22 {
  left: 420px;
}
#block-5,
#block-11,
#block-17,
#block-23 {
  left: 525px;
}
.block.g .colored-unit-0 {
  background-color: #15fe16;
}
.block.g .colored-unit-1 {
  background-color: #00cf0f;
}
.block.g .colored-unit-2 {
  background-color: #03892a;
}
.block.g .colored-unit-3 {
  background-color: #17b723;
}
.block.r .colored-unit-0 {
  background-color: #ff02b5;
}
.block.r .colored-unit-1 {
  background-color: #ff0167;
}
.block.r .colored-unit-2 {
  background-color: #ce1c2a;
}
.block.r .colored-unit-3 {
  background-color: #ff010f;
}
.block.b .colored-unit-0 {
  background-color: #00f7ff;
}
.block.b .colored-unit-1 {
  background-color: #009cff;
}
.block.b .colored-unit-2 {
  background-color: #2e03e8;
}
.block.b .colored-unit-3 {
  background-color: #0049ff;
}
.block.y .colored-unit-0 {
  background-color: #ffd902;
}
.block.y .colored-unit-1 {
  background-color: #ffa902;
}
.block.y .colored-unit-2 {
  background-color: #ff4903;
}
.block.y .colored-unit-3 {
  background-color: #ff7903;
}
.block.green .unit-0 {
  background-color: #15fe16;
}
.block.green .unit-1 {
  background-color: #00cf0f;
}
.block.green .unit-2 {
  background-color: #03892a;
}
.block.green .unit-3 {
  background-color: #17b723;
}
.block.red .unit-0 {
  background-color: #ff02b5;
}
.block.red .unit-1 {
  background-color: #ff0167;
}
.block.red .unit-2 {
  background-color: #ce1c2a;
}
.block.red .unit-3 {
  background-color: #ff010f;
}
.block.blue .unit-0 {
  background-color: #00f7ff;
}
.block.blue .unit-1 {
  background-color: #009cff;
}
.block.blue .unit-2 {
  background-color: #2e03e8;
}
.block.blue .unit-3 {
  background-color: #0049ff;
}
.block.yellow .unit-0 {
  background-color: #ffd902;
}
.block.yellow .unit-1 {
  background-color: #ffa902;
}
.block.yellow .unit-2 {
  background-color: #ff4903;
}
.block.yellow .unit-3 {
  background-color: #ff7903;
}
.unit,
.colored-unit,
.mask {
  display: block;
  position: absolute;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  width: 200px;
  height: 230px;
  left: 0;
  top: 0;
  opacity: 1;
}
.unit.animate,
.colored-unit.animate,
.mask.animate {
  -webkit-transition: 0.2s linear opacity;
}
.unit.hidden,
.colored-unit.hidden,
.mask.hidden {
  display: none;
}
.unit.fade,
.colored-unit.fade,
.mask.fade {
  opacity: 0;
}
.unit.explode,
.colored-unit.explode,
.mask.explode {
  opacity: 0;
  -webkit-transform: scale(5);
}
.unit.implode,
.colored-unit.implode,
.mask.implode {
  opacity: 0;
  -webkit-transform: scale(0);
}
.unit.unit-0.move,
.colored-unit.unit-0.move,
.mask.unit-0.move {
  top: -100%;
}
.unit.unit-1.move,
.colored-unit.unit-1.move,
.mask.unit-1.move {
  left: 100%;
}
.unit.unit-2.move,
.colored-unit.unit-2.move,
.mask.unit-2.move {
  left: -100%;
}
.unit.unit-3.move,
.colored-unit.unit-3.move,
.mask.unit-3.move {
  top: 100%;
}
.unit.unit-0.move-fade,
.colored-unit.unit-0.move-fade,
.mask.unit-0.move-fade {
  top: -100%;
  opacity: 0;
}
.unit.unit-1.move-fade,
.colored-unit.unit-1.move-fade,
.mask.unit-1.move-fade {
  left: 100%;
  opacity: 0;
}
.unit.unit-2.move-fade,
.colored-unit.unit-2.move-fade,
.mask.unit-2.move-fade {
  left: -100%;
  opacity: 0;
}
.unit.unit-3.move-fade,
.colored-unit.unit-3.move-fade,
.mask.unit-3.move-fade {
  top: 100%;
  opacity: 0;
}
.colored-unit {
  z-index: 1;
  opacity: 0.3;
}
.unit {
  z-index: 2;
}
#unit-0-0,
#colored-unit-0-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-0-1,
#colored-unit-0-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-0-2,
#colored-unit-0-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-0-3,
#colored-unit-0-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-1-0,
#colored-unit-1-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-1-1,
#colored-unit-1-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-1-2,
#colored-unit-1-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-1-3,
#colored-unit-1-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-2-0,
#colored-unit-2-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-2-1,
#colored-unit-2-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-2-2,
#colored-unit-2-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-2-3,
#colored-unit-2-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-3-0,
#colored-unit-3-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-3-1,
#colored-unit-3-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-3-2,
#colored-unit-3-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-3-3,
#colored-unit-3-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-4-0,
#colored-unit-4-0 {
  -webkit-mask-image: url("/masks/4-0.svg");
}
#unit-4-1,
#colored-unit-4-1 {
  -webkit-mask-image: url("/masks/4-1.svg");
}
#unit-4-2,
#colored-unit-4-2 {
  -webkit-mask-image: url("/masks/4-2.svg");
}
#unit-4-3,
#colored-unit-4-3 {
  -webkit-mask-image: url("/masks/4-3.svg");
}
#unit-5-0,
#colored-unit-5-0 {
  -webkit-mask-image: url("/masks/5-0.svg");
}
#unit-5-1,
#colored-unit-5-1 {
  -webkit-mask-image: url("/masks/5-1.svg");
}
#unit-5-2,
#colored-unit-5-2 {
  -webkit-mask-image: url("/masks/5-2.svg");
}
#unit-5-3,
#colored-unit-5-3 {
  -webkit-mask-image: url("/masks/5-3.svg");
}
#unit-6-0,
#colored-unit-6-0 {
  -webkit-mask-image: url("/masks/6-0.svg");
}
#unit-6-1,
#colored-unit-6-1 {
  -webkit-mask-image: url("/masks/6-1.svg");
}
#unit-6-2,
#colored-unit-6-2 {
  -webkit-mask-image: url("/masks/6-2.svg");
}
#unit-6-3,
#colored-unit-6-3 {
  -webkit-mask-image: url("/masks/6-3.svg");
}
#unit-7-0,
#colored-unit-7-0 {
  -webkit-mask-image: url("/masks/7-0.svg");
}
#unit-7-1,
#colored-unit-7-1 {
  -webkit-mask-image: url("/masks/7-1.svg");
}
#unit-7-2,
#colored-unit-7-2 {
  -webkit-mask-image: url("/masks/7-2.svg");
}
#unit-7-3,
#colored-unit-7-3 {
  -webkit-mask-image: url("/masks/7-3.svg");
}
#unit-8-0,
#colored-unit-8-0 {
  -webkit-mask-image: url("/masks/8-0.svg");
}
#unit-8-1,
#colored-unit-8-1 {
  -webkit-mask-image: url("/masks/8-1.svg");
}
#unit-8-2,
#colored-unit-8-2 {
  -webkit-mask-image: url("/masks/8-2.svg");
}
#unit-8-3,
#colored-unit-8-3 {
  -webkit-mask-image: url("/masks/8-3.svg");
}
#unit-9-0,
#colored-unit-9-0 {
  -webkit-mask-image: url("/masks/9-0.svg");
}
#unit-9-1,
#colored-unit-9-1 {
  -webkit-mask-image: url("/masks/9-1.svg");
}
#unit-9-2,
#colored-unit-9-2 {
  -webkit-mask-image: url("/masks/9-2.svg");
}
#unit-9-3,
#colored-unit-9-3 {
  -webkit-mask-image: url("/masks/9-3.svg");
}
#unit-10-0,
#colored-unit-10-0 {
  -webkit-mask-image: url("/masks/10-0.svg");
}
#unit-10-1,
#colored-unit-10-1 {
  -webkit-mask-image: url("/masks/10-1.svg");
}
#unit-10-2,
#colored-unit-10-2 {
  -webkit-mask-image: url("/masks/10-2.svg");
}
#unit-10-3,
#colored-unit-10-3 {
  -webkit-mask-image: url("/masks/10-3.svg");
}
#unit-11-0,
#colored-unit-11-0 {
  -webkit-mask-image: url("/masks/11-0.svg");
}
#unit-11-1,
#colored-unit-11-1 {
  -webkit-mask-image: url("/masks/11-1.svg");
}
#unit-11-2,
#colored-unit-11-2 {
  -webkit-mask-image: url("/masks/11-2.svg");
}
#unit-11-3,
#colored-unit-11-3 {
  -webkit-mask-image: url("/masks/11-3.svg");
}
#unit-12-0,
#colored-unit-12-0 {
  -webkit-mask-image: url("/masks/12-0.svg");
}
#unit-12-1,
#colored-unit-12-1 {
  -webkit-mask-image: url("/masks/12-1.svg");
}
#unit-12-2,
#colored-unit-12-2 {
  -webkit-mask-image: url("/masks/12-2.svg");
}
#unit-12-3,
#colored-unit-12-3 {
  -webkit-mask-image: url("/masks/12-3.svg");
}
#unit-13-0,
#colored-unit-13-0 {
  -webkit-mask-image: url("/masks/13-0.svg");
}
#unit-13-1,
#colored-unit-13-1 {
  -webkit-mask-image: url("/masks/13-1.svg");
}
#unit-13-2,
#colored-unit-13-2 {
  -webkit-mask-image: url("/masks/13-2.svg");
}
#unit-13-3,
#colored-unit-13-3 {
  -webkit-mask-image: url("/masks/13-3.svg");
}
#unit-14-0,
#colored-unit-14-0 {
  -webkit-mask-image: url("/masks/14-0.svg");
}
#unit-14-1,
#colored-unit-14-1 {
  -webkit-mask-image: url("/masks/14-1.svg");
}
#unit-14-2,
#colored-unit-14-2 {
  -webkit-mask-image: url("/masks/14-2.svg");
}
#unit-14-3,
#colored-unit-14-3 {
  -webkit-mask-image: url("/masks/14-3.svg");
}
#unit-15-0,
#colored-unit-15-0 {
  -webkit-mask-image: url("/masks/15-0.svg");
}
#unit-15-1,
#colored-unit-15-1 {
  -webkit-mask-image: url("/masks/15-1.svg");
}
#unit-15-2,
#colored-unit-15-2 {
  -webkit-mask-image: url("/masks/15-2.svg");
}
#unit-15-3,
#colored-unit-15-3 {
  -webkit-mask-image: url("/masks/15-3.svg");
}
#unit-16-0,
#colored-unit-16-0 {
  -webkit-mask-image: url("/masks/16-0.svg");
}
#unit-16-1,
#colored-unit-16-1 {
  -webkit-mask-image: url("/masks/16-1.svg");
}
#unit-16-2,
#colored-unit-16-2 {
  -webkit-mask-image: url("/masks/16-2.svg");
}
#unit-16-3,
#colored-unit-16-3 {
  -webkit-mask-image: url("/masks/16-3.svg");
}
#unit-17-0,
#colored-unit-17-0 {
  -webkit-mask-image: url("/masks/17-0.svg");
}
#unit-17-1,
#colored-unit-17-1 {
  -webkit-mask-image: url("/masks/17-1.svg");
}
#unit-17-2,
#colored-unit-17-2 {
  -webkit-mask-image: url("/masks/17-2.svg");
}
#unit-17-3,
#colored-unit-17-3 {
  -webkit-mask-image: url("/masks/17-3.svg");
}
#unit-18-0,
#colored-unit-18-0 {
  -webkit-mask-image: url("/masks/18-0.svg");
}
#unit-18-1,
#colored-unit-18-1 {
  -webkit-mask-image: url("/masks/18-1.svg");
}
#unit-18-2,
#colored-unit-18-2 {
  -webkit-mask-image: url("/masks/18-2.svg");
}
#unit-18-3,
#colored-unit-18-3 {
  -webkit-mask-image: url("/masks/18-3.svg");
}
#unit-19-0,
#colored-unit-19-0 {
  -webkit-mask-image: url("/masks/19-0.svg");
}
#unit-19-1,
#colored-unit-19-1 {
  -webkit-mask-image: url("/masks/19-1.svg");
}
#unit-19-2,
#colored-unit-19-2 {
  -webkit-mask-image: url("/masks/19-2.svg");
}
#unit-19-3,
#colored-unit-19-3 {
  -webkit-mask-image: url("/masks/19-3.svg");
}
#unit-20-0,
#colored-unit-20-0 {
  -webkit-mask-image: url("/masks/20-0.svg");
}
#unit-20-1,
#colored-unit-20-1 {
  -webkit-mask-image: url("/masks/20-1.svg");
}
#unit-20-2,
#colored-unit-20-2 {
  -webkit-mask-image: url("/masks/20-2.svg");
}
#unit-20-3,
#colored-unit-20-3 {
  -webkit-mask-image: url("/masks/20-3.svg");
}
#unit-21-0,
#colored-unit-21-0 {
  -webkit-mask-image: url("/masks/21-0.svg");
}
#unit-21-1,
#colored-unit-21-1 {
  -webkit-mask-image: url("/masks/21-1.svg");
}
#unit-21-2,
#colored-unit-21-2 {
  -webkit-mask-image: url("/masks/21-2.svg");
}
#unit-21-3,
#colored-unit-21-3 {
  -webkit-mask-image: url("/masks/21-3.svg");
}
#unit-22-0,
#colored-unit-22-0 {
  -webkit-mask-image: url("/masks/22-0.svg");
}
#unit-22-1,
#colored-unit-22-1 {
  -webkit-mask-image: url("/masks/22-1.svg");
}
#unit-22-2,
#colored-unit-22-2 {
  -webkit-mask-image: url("/masks/22-2.svg");
}
#unit-22-3,
#colored-unit-22-3 {
  -webkit-mask-image: url("/masks/22-3.svg");
}
#unit-23-0,
#colored-unit-23-0 {
  -webkit-mask-image: url("/masks/23-0.svg");
}
#unit-23-1,
#colored-unit-23-1 {
  -webkit-mask-image: url("/masks/23-1.svg");
}
#unit-23-2,
#colored-unit-23-2 {
  -webkit-mask-image: url("/masks/23-2.svg");
}
#unit-23-3,
#colored-unit-23-3 {
  -webkit-mask-image: url("/masks/23-3.svg");
}
#unit-24-0,
#colored-unit-24-0 {
  -webkit-mask-image: url("/masks/24-0.svg");
}
#unit-24-1,
#colored-unit-24-1 {
  -webkit-mask-image: url("/masks/24-1.svg");
}
#unit-24-2,
#colored-unit-24-2 {
  -webkit-mask-image: url("/masks/24-2.svg");
}
#unit-24-3,
#colored-unit-24-3 {
  -webkit-mask-image: url("/masks/24-3.svg");
}
.show {
  display: block;
}
.hide {
  display: none;
}
