html, body
  width 100%
  height 100%
  margin 0
  padding 0
  background-color black
  overflow hidden
  -webkit-perspective 100px
  -webkit-perspective-origin top right


#wall
  position absolute
  left 48px
  top -36px
  -webkit-transform scale(.83)


@import 'video-configs'
@import 'block'
@import 'unit'
@import 'utils'
