html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}
#wall {
  background-color: #000;
  width: 840px;
  height: 840px;
  margin: auto;
  position: relative;
}
#video-configs {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#video-configs .config {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#video-configs .mask {
  top: 0;
  left: 0;
  position: absolute;
  width: 16.6%;
  height: 16.6%;
  overflow: hidden;
}
#video-configs video {
  -webkit-filter: brightness(2);
  margin-left: -50%;
  width: 200%;
}
#video-configs .config.takeover .mask {
  width: 66.4%;
  left: 16.6%;
  top: 0%;
  height: 100%;
}
#video-configs .config.two-up .mask:nth-child(1) {
  top: 16.6%;
  height: 49.800000000000004%;
  width: 49.800000000000004%;
}
#video-configs .config.two-up .mask:nth-child(2) {
  left: 49.800000000000004%;
  height: 49.800000000000004%;
  width: 49.800000000000004%;
}
#video-configs .config.two-up .mask:nth-child(3) {
  left: 0;
}
#video-configs .config.two-up .mask:nth-child(4) {
  left: 16.6%;
}
#video-configs .config.two-up .mask:nth-child(5) {
  left: 33.2%;
}
#video-configs .config.two-up .mask:nth-child(6) {
  top: 49.800000000000004%;
  left: 49.800000000000004%;
}
#video-configs .config.two-up .mask:nth-child(7) {
  top: 49.800000000000004%;
  left: 66.4%;
}
#video-configs .config.two-up .mask:nth-child(8) {
  top: 49.800000000000004%;
  left: 83%;
}
#video-configs .config.three-up-tilt .mask:nth-child(1),
#video-configs .config.three-up-tilt .mask:nth-child(2),
#video-configs .config.three-up-tilt .mask:nth-child(3) {
  width: 33.2%;
  height: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(1) {
  top: 16.6%;
}
#video-configs .config.three-up-tilt .mask:nth-child(2) {
  top: 33.2%;
  left: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(3) {
  left: 66.4%;
}
#video-configs .config.three-up-tilt .mask:nth-child(4) {
  left: 0;
}
#video-configs .config.three-up-tilt .mask:nth-child(5) {
  left: 16.6%;
}
#video-configs .config.three-up-tilt .mask:nth-child(6) {
  left: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(7) {
  left: 49.800000000000004%;
}
#video-configs .config.three-up-tilt .mask:nth-child(8) {
  top: 16.6%;
  left: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(9) {
  top: 16.6%;
  left: 49.800000000000004%;
}
#video-configs .config.three-up-tilt .mask:nth-child(10) {
  top: 49.800000000000004%;
}
#video-configs .config.three-up-tilt .mask:nth-child(11) {
  top: 49.800000000000004%;
  left: 16.6%;
}
#video-configs .config.three-up-tilt .mask:nth-child(12) {
  left: 66.4%;
  top: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(13) {
  left: 83%;
  top: 33.2%;
}
#video-configs .config.three-up-tilt .mask:nth-child(14) {
  left: 66.4%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-tilt .mask:nth-child(15) {
  left: 83%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance .mask:nth-child(1),
#video-configs .config.three-up-balance .mask:nth-child(2),
#video-configs .config.three-up-balance .mask:nth-child(3) {
  top: 0%;
  width: 33.2%;
  height: 33.2%;
}
#video-configs .config.three-up-balance .mask:nth-child(2) {
  top: 16.6%;
  left: 33.2%;
}
#video-configs .config.three-up-balance .mask:nth-child(3) {
  left: 66.4%;
}
#video-configs .config.three-up-balance .mask:nth-child(4) {
  left: 33.2%;
}
#video-configs .config.three-up-balance .mask:nth-child(5) {
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance .mask:nth-child(6) {
  left: 0;
  top: 33.2%;
}
#video-configs .config.three-up-balance .mask:nth-child(7) {
  top: 33.2%;
  left: 16.6%;
}
#video-configs .config.three-up-balance .mask:nth-child(8) {
  top: 49.800000000000004%;
  left: 0;
}
#video-configs .config.three-up-balance .mask:nth-child(9) {
  top: 49.800000000000004%;
  left: 16.6%;
}
#video-configs .config.three-up-balance .mask:nth-child(10) {
  top: 49.800000000000004%;
  left: 33.2%;
}
#video-configs .config.three-up-balance .mask:nth-child(11) {
  top: 49.800000000000004%;
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance .mask:nth-child(12) {
  top: 33.2%;
  left: 66.4%;
}
#video-configs .config.three-up-balance .mask:nth-child(13) {
  top: 33.2%;
  left: 83%;
}
#video-configs .config.three-up-balance .mask:nth-child(14) {
  top: 49.800000000000004%;
  left: 66.4%;
}
#video-configs .config.three-up-balance .mask:nth-child(15) {
  top: 49.800000000000004%;
  left: 83%;
}
#video-configs .config.three-up .mask:nth-child(1),
#video-configs .config.three-up .mask:nth-child(2),
#video-configs .config.three-up .mask:nth-child(3) {
  top: 16.6%;
  width: 33.2%;
  height: 33.2%;
}
#video-configs .config.three-up .mask:nth-child(2) {
  left: 33.2%;
}
#video-configs .config.three-up .mask:nth-child(3) {
  left: 66.4%;
}
#video-configs .config.three-up .mask:nth-child(4) {
  left: 0;
}
#video-configs .config.three-up .mask:nth-child(5) {
  left: 16.6%;
}
#video-configs .config.three-up .mask:nth-child(6) {
  left: 33.2%;
}
#video-configs .config.three-up .mask:nth-child(7) {
  left: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(8) {
  left: 66.4%;
}
#video-configs .config.three-up .mask:nth-child(9) {
  left: 83%;
}
#video-configs .config.three-up .mask:nth-child(10) {
  left: 0;
  top: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(11) {
  left: 16.6%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(12) {
  left: 33.2%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(13) {
  left: 49.800000000000004%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(14) {
  left: 66.4%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up .mask:nth-child(15) {
  left: 83%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(1),
#video-configs .config.three-up-balance-right .mask:nth-child(2),
#video-configs .config.three-up-balance-right .mask:nth-child(3) {
  width: 33.2%;
  height: 33.2%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(1) {
  top: 16.6%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(2) {
  left: 66.4%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(3) {
  left: 66.4%;
  top: 33.2%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(4) {
  left: 0;
}
#video-configs .config.three-up-balance-right .mask:nth-child(5) {
  left: 16.6%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(6) {
  left: 33.2%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(7) {
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(8) {
  left: 33.2%;
  top: 16.6%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(9) {
  left: 49.800000000000004%;
  top: 16.6%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(10) {
  left: 33.2%;
  top: 33.2%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(11) {
  left: 49.800000000000004%;
  top: 33.2%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(12) {
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(13) {
  left: 16.6%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(14) {
  left: 33.2%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance-right .mask:nth-child(15) {
  left: 49.800000000000004%;
  top: 49.800000000000004%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(1),
#video-configs .config.three-up-balance-left .mask:nth-child(2),
#video-configs .config.three-up-balance-left .mask:nth-child(3) {
  width: 33.2%;
  height: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(1) {
  left: 0;
}
#video-configs .config.three-up-balance-left .mask:nth-child(2) {
  top: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(3) {
  top: 16.6%;
  left: 66.4%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(4) {
  left: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(5) {
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(6) {
  left: 66.4%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(7) {
  left: 83%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(8) {
  top: 16.6%;
  left: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(9) {
  top: 16.6%;
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(10) {
  top: 33.2%;
  left: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(11) {
  top: 33.2%;
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(12) {
  top: 49.800000000000004%;
  left: 33.2%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(13) {
  top: 49.800000000000004%;
  left: 49.800000000000004%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(14) {
  top: 49.800000000000004%;
  left: 66.4%;
}
#video-configs .config.three-up-balance-left .mask:nth-child(15) {
  top: 49.800000000000004%;
  left: 83%;
}
#blocks {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}
.block {
  position: relative;
  width: 16.6%;
  height: 16.6%;
  display: block;
  float: left;
  overflow: hidden;
  -webkit-perspective: 0;
}
.unit {
  z-index: 2;
  display: block;
  position: absolute;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transform: rotateX(0) rotateY(0) scale(1);
}
.unit.animate {
  -webkit-transition: 0.2s linear all;
}
.unit.unit-0 {
  top: -0.5%;
  width: 102%;
  margin-left: -1%;
}
.unit.unit-1 {
  -webkit-mask-position: bottom right;
  left: 0.5%;
  height: 102%;
}
.unit.unit-2 {
  top: 0.5%;
  width: 102%;
  margin-left: -1%;
  -webkit-mask-position: bottom;
}
.unit.unit-3 {
  left: -0.5%;
  height: 102%;
  margin-top: -1%;
}
.unit.hidden {
  display: none;
}
.unit.fade {
  opacity: 0;
}
.unit.explode {
  opacity: 0;
  -webkit-transform: scale(5);
}
.unit.implode {
  opacity: 0;
  -webkit-transform: scale(0);
}
.unit.unit-0.move {
  top: -100%;
}
.unit.unit-1.move {
  left: 100%;
}
.unit.unit-2.move {
  left: -100%;
}
.unit.unit-3.move {
  top: 100%;
}
.unit.unit-0.move-fade {
  top: -100%;
  opacity: 0;
}
.unit.unit-1.move-fade {
  left: 100%;
  opacity: 0;
}
.unit.unit-2.move-fade {
  left: -100%;
  opacity: 0;
}
.unit.unit-3.move-fade {
  top: 100%;
  opacity: 0;
}
.unit.unit-0.perspective {
  top: -100%;
  -webkit-transform: rotateX(90deg);
}
.unit.unit-1.perspective {
  left: 100%;
  -webkit-transform: rotateY(90deg);
}
.unit.unit-2.perspective {
  top: 100%;
  -webkit-transform: rotateX(90deg);
}
.unit.unit-3.perspective {
  left: -100%;
  -webkit-transform: rotateY(90deg);
}
.unit.rotate-scale.unit-0,
.unit.rotate-scale.unit-2 {
  opacity: 0;
  -webkit-transform: rotateZ(180deg) scale(3);
}
.unit.rotate-scale.unit-1,
.unit.rotate-scale.unit-3 {
  opacity: 0;
  -webkit-transform: rotateZ(-180deg) scale(3);
}
#unit-0-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-0-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-0-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-0-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-1-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-1-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-1-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-1-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-2-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-2-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-2-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-2-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-3-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-3-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-3-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-3-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-4-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-4-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-4-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-4-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-5-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-5-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-5-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-5-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-6-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-6-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-6-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-6-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-7-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-7-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-7-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-7-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-8-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-8-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-8-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-8-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-9-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-9-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-9-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-9-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-10-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-10-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-10-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-10-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-11-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-11-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-11-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-11-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-12-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-12-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-12-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-12-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-13-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-13-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-13-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-13-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-14-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-14-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-14-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-14-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-15-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-15-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-15-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-15-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-16-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-16-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-16-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-16-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-17-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-17-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-17-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-17-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-18-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-18-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-18-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-18-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-19-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-19-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-19-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-19-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-20-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-20-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-20-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-20-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
#unit-21-0 {
  -webkit-mask-image: url("/masks/1-0.svg");
}
#unit-21-1 {
  -webkit-mask-image: url("/masks/1-1.svg");
}
#unit-21-2 {
  -webkit-mask-image: url("/masks/1-2.svg");
}
#unit-21-3 {
  -webkit-mask-image: url("/masks/1-3.svg");
}
#unit-22-0 {
  -webkit-mask-image: url("/masks/2-0.svg");
}
#unit-22-1 {
  -webkit-mask-image: url("/masks/2-1.svg");
}
#unit-22-2 {
  -webkit-mask-image: url("/masks/2-2.svg");
}
#unit-22-3 {
  -webkit-mask-image: url("/masks/2-3.svg");
}
#unit-23-0 {
  -webkit-mask-image: url("/masks/3-0.svg");
}
#unit-23-1 {
  -webkit-mask-image: url("/masks/3-1.svg");
}
#unit-23-2 {
  -webkit-mask-image: url("/masks/3-2.svg");
}
#unit-23-3 {
  -webkit-mask-image: url("/masks/3-3.svg");
}
#unit-24-0 {
  -webkit-mask-image: url("/masks/0-0.svg");
}
#unit-24-1 {
  -webkit-mask-image: url("/masks/0-1.svg");
}
#unit-24-2 {
  -webkit-mask-image: url("/masks/0-2.svg");
}
#unit-24-3 {
  -webkit-mask-image: url("/masks/0-3.svg");
}
.show {
  display: block;
}
.hide {
  display: none;
}
