body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: "Helvetica";
}
h1.thats-all {
  margin-top: 75px;
  margin-bottom: 75px;
}
h1 {
  text-align: center;
  margin: 0;
}
h1 a {
  background: url("/header.jpg") no-repeat top center;
  margin: 0 0 10px 0;
  background-size: cover;
  width: 100%;
  height: 316px;
  display: block;
  text-indent: -9999px;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
}
video {
  width: 100%;
}
.slowmo-container {
  overflow: hidden;
  margin-bottom: -2px;
  border: 5px solid #000;
  box-sizing: border-box;
}
footer {
  width: 100%;
  font-size: 100%;
  bottom: 0;
}
footer a.next,
footer a.prev {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer a.next {
  padding: 20px 20px 0 50px;
}
footer a.prev {
  padding: 20px 50px 0 20px;
}
footer span.arrow {
  color: #bd3013;
}
footer a.prev span.arrow {
  float: left;
  padding-right: 10px;
}
footer a.next span.arrow {
  padding-left: 10px;
}
footer a.credits {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: block;
  background: url("/footer.jpg") no-repeat top center;
  background-size: contain;
}
.social {
  float: right;
}
.social .stButton {
  width: 25px;
}
.social .stButton img {
  display: none;
}
.social .stLarge {
  background-size: 100%;
}
.social .st_facebook_large .stLarge {
  background-image: url("/social_fb.jpg") !important;
}
.social .st_twitter_large .stLarge {
  background-image: url("/social_tweet.jpg") !important;
}
.social .st_email_large .stLarge {
  background-image: url("/social_email.jpg") !important;
}
.next-page {
  float: right;
}
.prev-page {
  float: left;
}
#content.solo .slowmo-container {
  width: 50%;
  margin: auto;
  display: block;
  float: none;
}
@media only screen and (min-width: 768px) {
  .slowmo-container {
    width: 33.3%;
    height: 100%;
    float: left;
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  h1 a {
    height: 200px;
    width: 100%;
    background-size: contain;
  }
  .slowmo-container {
    margin-left: 12%;
    width: 75%;
    display: block;
  }
  #content.solo .slowmo-container {
    width: 80%;
  }
}
