body{
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "Helvetica";
}

ul{
  list-style-type: none;
  padding: 10px 10px 0 10px;
  margin: 0 10px 0 0;
  background-color:rgba(255,255,255,.25);
  display: inline-block;
  float: left;
}

li{
  display: block;
  margin-bottom:10px;
  margin-top:0;
}

span.val{
  font-style: italic;
  padding-left: 15px;
}


video{
  -webkit-filter: brightness(2);
  margin-left: -125px
}

.slowmo-container{
  width: 400px;
  height: 400px;
  overflow: hidden;
}
