.block.g
  .colored-unit-0
    background-color #15fe16
  .colored-unit-1
    background-color #00cf0f
  .colored-unit-2
    background-color #03892a
  .colored-unit-3
    background-color #17b723

.block.r
  .colored-unit-0
    background-color #ff02b5
  .colored-unit-1
    background-color #ff0167
  .colored-unit-2
    background-color #ce1c2a
  .colored-unit-3
    background-color #ff010f

.block.b
  .colored-unit-0
    background-color #00f7ff
  .colored-unit-1
    background-color #009cff
  .colored-unit-2
    background-color #2e03e8
  .colored-unit-3
    background-color #0049ff

.block.y
  .colored-unit-0
    background-color #ffd902
  .colored-unit-1
    background-color #ffa902
  .colored-unit-2
    background-color #ff4903
  .colored-unit-3
    background-color #ff7903

.colored-unit
  z-index 1

.unit
  z-index 2

.unit, .colored-unit
  display block
  position absolute
  -webkit-mask-repeat no-repeat
  -webkit-mask-size contain
  width 100%
  height 100%
  left 0
  top 0
  opacity 1
  -webkit-transform rotateX(0) rotateY(0) scale(1)
  &.animate
    -webkit-transition .2s linear all

  // Position each unit
  &.unit-0, &.colored-unit-0
    top -.5%
    width 102%
    margin-left -1%
  &.unit-1, &.colored-unit-1
    -webkit-mask-position bottom right
    left .5%
    height 102%
  &.unit-2, &.colored-unit-2
    top .5%
    width 102%
    margin-left -1%
    -webkit-mask-position bottom
  &.unit-3, &.colored-unit-3
    left -.5%
    height 102%
    margin-top -1%


  // --- Animations --- //

  &.hidden
    display none

  // Fade
  &.fade
    opacity 0

  // Explode
  &.explode
    opacity 0
    -webkit-transform scale(5)

  // Implode
  &.implode
    opacity 0
    -webkit-transform scale(0)

  // Move
  &.unit-0.move
    top -100%
  &.unit-1.move
    left 100%
  &.unit-2.move
    left -100%
  &.unit-3.move
    top 100%

  // Move and Fade
  &.unit-0.move-fade
    top -100%
    opacity 0
  &.unit-1.move-fade
    left 100%
    opacity 0
  &.unit-2.move-fade
    left -100%
    opacity 0
  &.unit-3.move-fade
    top 100%
    opacity 0

  // Perspective Shift
  &.unit-0.perspective
    top -100%
    -webkit-transform rotateX(90deg)
  &.unit-1.perspective
    left 100%
    -webkit-transform rotateY(90deg)
  &.unit-2.perspective
    top 100%
    -webkit-transform rotateX(90deg)
  &.unit-3.perspective
    left -100%
    -webkit-transform rotateY(90deg)

  &.rotate-scale.unit-0, &.rotate-scale.unit-2
    opacity 0
    -webkit-transform rotateZ(180deg) scale(3)
  &.rotate-scale.unit-1, &.rotate-scale.unit-3
    opacity 0
    -webkit-transform rotateZ(-180deg) scale(3)


.colored-unit
  opacity .5


for blockId in (0..24)
  for unitNum in (0..3)
    #unit-{blockId}-{unitNum}, #colored-unit-{blockId}-{unitNum}
      -webkit-mask-image url('/masks/' + blockId%4 + '-' + unitNum + '.svg')
