.block.g
  .colored-unit-0
    background-color #15fe16
  .colored-unit-1
    background-color #00cf0f
  .colored-unit-2
    background-color #03892a
  .colored-unit-3
    background-color #17b723

.block.r
  .colored-unit-0
    background-color #ff02b5
  .colored-unit-1
    background-color #ff0167
  .colored-unit-2
    background-color #ce1c2a
  .colored-unit-3
    background-color #ff010f

.block.b
  .colored-unit-0
    background-color #00f7ff
  .colored-unit-1
    background-color #009cff
  .colored-unit-2
    background-color #2e03e8
  .colored-unit-3
    background-color #0049ff

.block.y
  .colored-unit-0
    background-color #ffd902
  .colored-unit-1
    background-color #ffa902
  .colored-unit-2
    background-color #ff4903
  .colored-unit-3
    background-color #ff7903

.block.green
  .unit-0
    background-color #15fe16
  .unit-1
    background-color #00cf0f
  .unit-2
    background-color #03892a
  .unit-3
    background-color #17b723

.block.red
  .unit-0
    background-color #ff02b5
  .unit-1
    background-color #ff0167
  .unit-2
    background-color #ce1c2a
  .unit-3
    background-color #ff010f

.block.blue
  .unit-0
    background-color #00f7ff
  .unit-1
    background-color #009cff
  .unit-2
    background-color #2e03e8
  .unit-3
    background-color #0049ff

.block.yellow
  .unit-0
    background-color #ffd902
  .unit-1
    background-color #ffa902
  .unit-2
    background-color #ff4903
  .unit-3
    background-color #ff7903


.unit, .colored-unit, .mask
  display block
  position absolute
  -webkit-mask-repeat no-repeat
  -webkit-mask-size contain
  width 200px
  height 230px
  left 0
  top 0
  opacity 1
  &.animate
    -webkit-transition .2s linear opacity


  // --- Animations --- //

  &.hidden
    display none

  // Fade
  &.fade
    opacity 0

  // Explode
  &.explode
    opacity 0
    -webkit-transform scale(5)

  // Implode
  &.implode
    opacity 0
    -webkit-transform scale(0)

  // Move
  &.unit-0.move
    top -100%
  &.unit-1.move
    left 100%
  &.unit-2.move
    left -100%
  &.unit-3.move
    top 100%

  // Move and Fade
  &.unit-0.move-fade
    top -100%
    opacity 0
  &.unit-1.move-fade
    left 100%
    opacity 0
  &.unit-2.move-fade
    left -100%
    opacity 0
  &.unit-3.move-fade
    top 100%
    opacity 0


.colored-unit
  z-index 1
  opacity .3

.unit
  z-index 2


for blockId in (0..24)
  for unitNum in (0..3)
    #unit-{blockId}-{unitNum}, #colored-unit-{blockId}-{unitNum}
      -webkit-mask-image url('/masks/' + blockId + '-' + unitNum + '.svg')
