minVal = 16.6

#video-configs
  position absolute
  width 100%
  height 100%
  z-index 3

  .config
    display none

    position absolute
    width 100%
    height 100%

  .mask
    top 0
    left 0
    position absolute
    width 16.6%
    height 16.6%
    overflow hidden
    background-color green
    opacity .5

  video
    margin-left -50%
    width 200%

  .config.takeover
    .mask
      width minVal*4 + '%'
      left minVal + '%'
      top 0%
      height 100%

  .config.two-up
    .mask:nth-child(1)
      top minVal + '%'
      height minVal*3 + '%'
      width minVal*3 + '%'
    .mask:nth-child(2)
      left minVal*3 + '%'
      height minVal*3 + '%'
      width minVal*3 + '%'
    .mask:nth-child(3)
      left 0
    .mask:nth-child(4)
      left minVal + '%'
    .mask:nth-child(5)
      left minVal*2 + '%'
    .mask:nth-child(6)
      top minVal*3 + '%'
      left minVal*3 + '%'
    .mask:nth-child(7)
      top minVal*3 + '%'
      left minVal*4 + '%'
    .mask:nth-child(8)
      top minVal*3 + '%'
      left minVal*5 + '%'

  .config.three-up-tilt
    .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
      width minVal*2 + '%'
      height minVal*2 + '%'
    .mask:nth-child(1)
      top minVal + '%'
    .mask:nth-child(2)
      top minVal*2 + '%'
      left minVal*2 + '%'
    .mask:nth-child(3)
      left minVal*4 + '%'
    .mask:nth-child(4)
      left 0
    .mask:nth-child(5)
      left minVal + '%'
    .mask:nth-child(6)
      left minVal*2 + '%'
    .mask:nth-child(7)
      left minVal*3 + '%'
    .mask:nth-child(8)
      top minVal + '%'
      left minVal*2 + '%'
    .mask:nth-child(9)
      top minVal + '%'
      left minVal*3 + '%'
    .mask:nth-child(10)
      top minVal*3 + '%'
    .mask:nth-child(11)
      top minVal*3 + '%'
      left minVal + '%'
    .mask:nth-child(12)
      left minVal*4 + '%'
      top minVal*2 + '%'
    .mask:nth-child(13)
      left minVal*5 + '%'
      top minVal*2 + '%'
    .mask:nth-child(14)
      left minVal*4 + '%'
      top minVal*3 + '%'
    .mask:nth-child(15)
      left minVal*5 + '%'
      top minVal*3 + '%'

  .config.three-up-balance
    .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
      top 0%
      width minVal*2 + '%'
      height minVal*2 + '%'
    .mask:nth-child(2)
      top minVal + '%'
      left minVal*2 + '%'
    .mask:nth-child(3)
      left minVal*4 + '%'
    .mask:nth-child(4)
      left minVal*2 + '%'
    .mask:nth-child(5)
      left minVal*3 + '%'
    .mask:nth-child(6)
      left 0
      top minVal*2 + '%'
    .mask:nth-child(7)
      top minVal*2 + '%'
      left minVal + '%'
    .mask:nth-child(8)
      top minVal*3 + '%'
      left 0
    .mask:nth-child(9)
      top minVal*3 + '%'
      left minVal + '%'
    .mask:nth-child(10)
      top minVal*3 + '%'
      left minVal*2 + '%'
    .mask:nth-child(11)
      top minVal*3 + '%'
      left minVal*3 + '%'
    .mask:nth-child(12)
      top minVal*2 + '%'
      left minVal*4 + '%'
    .mask:nth-child(13)
      top minVal*2 + '%'
      left minVal*5 + '%'
    .mask:nth-child(14)
      top minVal*3 + '%'
      left minVal*4 + '%'
    .mask:nth-child(15)
      top minVal*3 + '%'
      left minVal*5 + '%'

  .config.three-up
    .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
      top minVal + '%'
      width minVal*2 + '%'
      height minVal*2 + '%'
    .mask:nth-child(2)
      left minVal*2 + '%'
    .mask:nth-child(3)
      left minVal*4 + '%'
    .mask:nth-child(4)
      left 0
    .mask:nth-child(5)
      left minVal + '%'
    .mask:nth-child(6)
      left minVal*2 + '%'
    .mask:nth-child(7)
      left minVal*3 + '%'
    .mask:nth-child(8)
      left minVal*4 + '%'
    .mask:nth-child(9)
      left minVal*5 + '%'
    .mask:nth-child(10)
      left 0
      top minVal*3 + '%'
    .mask:nth-child(11)
      left minVal + '%'
      top minVal*3 + '%'
    .mask:nth-child(12)
      left minVal*2 + '%'
      top minVal*3 + '%'
    .mask:nth-child(13)
      left minVal*3 + '%'
      top minVal*3 + '%'
    .mask:nth-child(14)
      left minVal*4 + '%'
      top minVal*3 + '%'
    .mask:nth-child(15)
      left minVal*5 + '%'
      top minVal*3 + '%'

  .config.three-up-balance-right
    .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
      width minVal*2 + '%'
      height minVal*2 + '%'
    .mask:nth-child(1)
      top minVal + '%'
    .mask:nth-child(2)
      left minVal*4 + '%'
    .mask:nth-child(3)
      left minVal*4 + '%'
      top minVal*2 + '%'
    .mask:nth-child(4)
      left 0
    .mask:nth-child(5)
      left minVal + '%'
    .mask:nth-child(6)
      left minVal*2 + '%'
    .mask:nth-child(7)
      left minVal*3 + '%'
    .mask:nth-child(8)
      left minVal*2 + '%'
      top minVal + '%'
    .mask:nth-child(9)
      left minVal*3 + '%'
      top minVal + '%'
    .mask:nth-child(10)
      left minVal*2 + '%'
      top minVal*2 + '%'
    .mask:nth-child(11)
      left minVal*3 + '%'
      top minVal*2 + '%'
    .mask:nth-child(12)
      top minVal*3 + '%'
    .mask:nth-child(13)
      left minVal + '%'
      top minVal*3 + '%'
    .mask:nth-child(14)
      left minVal*2 + '%'
      top minVal*3 + '%'
    .mask:nth-child(15)
      left minVal*3 + '%'
      top minVal*3 + '%'

  .config.three-up-balance-left
    display block
    .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
      width minVal*2 + '%'
      height minVal*2 + '%'
    .mask:nth-child(1)
      left 0
    .mask:nth-child(2)
      top minVal*2 + '%'
    .mask:nth-child(3)
      top minVal + '%'
      left minVal*4 + '%'
    .mask:nth-child(4)
      left minVal*2 + '%'
    .mask:nth-child(5)
      left minVal*3 + '%'
    .mask:nth-child(6)
      left minVal*4 + '%'
    .mask:nth-child(7)
      left minVal*5 + '%'
    .mask:nth-child(8)
      top minVal + '%'
      left minVal*2 + '%'
    .mask:nth-child(9)
      top minVal + '%'
      left minVal*3 + '%'
    .mask:nth-child(10)
      top minVal*2 + '%'
      left minVal*2 + '%'
    .mask:nth-child(11)
      top minVal*2 + '%'
      left minVal*3 + '%'
    .mask:nth-child(12)
      top minVal*3 + '%'
      left minVal*2 + '%'
    .mask:nth-child(13)
      top minVal*3 + '%'
      left minVal*3 + '%'
    .mask:nth-child(14)
      top minVal*3 + '%'
      left minVal*4 + '%'
    .mask:nth-child(15)
      top minVal*3 + '%'
      left minVal*5 + '%'
