minVal = 16.6
minH = 25
minW = 16.6

#video-configs
  position absolute
  width 805px
  height 800px
  z-index 1

  .config
    display none
    position absolute
    width 100%
    height 100%

  .mask
    top 0
    left 0
    position absolute
    width 100%
    height 100%
    overflow hidden
    -webkit-mask-position 10px 35px
    -webkit-mask-size 102%

  video
    -webkit-filter brightness(2)
    position absolute
    margin 0

  .config.takeover
    .mask
      width 100%
      height 100%
      -webkit-mask-size 101%
      -webkit-mask-position 0 12px
      -webkit-mask-image url('/masks/showcase.svg')

  .config.two-up
    .mask:nth-child(1)
      -webkit-mask-image url('/masks/two-up-0.svg')
      video
        top -20px
        left -50px
        width 250px
        display block

    .mask:nth-child(2)
      -webkit-mask-image url('/masks/two-up-1.svg')
      video
        top 10px
        left 128px
        width 230px

    .mask:nth-child(3)
      -webkit-mask-image url('/masks/two-up-2.svg')
      video
        top 7px
        left 235px
        width 230px

    .mask:nth-child(4)
      -webkit-mask-image url('/masks/two-up-3.svg')
      video
        top 0
        width 750px
        left -150px

    .mask:nth-child(5)
      -webkit-mask-image url('/masks/two-up-4.svg')
      video
        top 0
        left 170px
        width 700px

    .mask:nth-child(6)
      -webkit-mask-image url('/masks/two-up-5.svg')
      video
        left 370px
        top 400px
        width 220px

    .mask:nth-child(7)
      -webkit-mask-image url('/masks/two-up-6.svg')
      video
        left 470px
        top 400px
        width 250px

    .mask:nth-child(8)
      -webkit-mask-image url('/masks/two-up-7.svg')
      video
        left 665px
        top 400px
        width 220px

  // .config.three-up-tilt
  //   .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
  //     width minVal*2 + '%'
  //     height minVal*2 + '%'
  //   .mask:nth-child(1)
  //     top minVal + '%'
  //   .mask:nth-child(2)
  //     top minVal*2 + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(3)
  //     left minVal*4 + '%'
  //   .mask:nth-child(4)
  //     left 0
  //   .mask:nth-child(5)
  //     left minVal + '%'
  //   .mask:nth-child(6)
  //     left minVal*2 + '%'
  //   .mask:nth-child(7)
  //     left minVal*3 + '%'
  //   .mask:nth-child(8)
  //     top minVal + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(9)
  //     top minVal + '%'
  //     left minVal*3 + '%'
  //   .mask:nth-child(10)
  //     top minVal*3 + '%'
  //   .mask:nth-child(11)
  //     top minVal*3 + '%'
  //     left minVal + '%'
  //   .mask:nth-child(12)
  //     left minVal*4 + '%'
  //     top minVal*2 + '%'
  //   .mask:nth-child(13)
  //     left minVal*5 + '%'
  //     top minVal*2 + '%'
  //   .mask:nth-child(14)
  //     left minVal*4 + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(15)
  //     left minVal*5 + '%'
  //     top minVal*3 + '%'
  //
  // .config.three-up-balance
  //   .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
  //     top 0%
  //     width minVal*2 + '%'
  //     height minVal*2 + '%'
  //   .mask:nth-child(2)
  //     top minVal + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(3)
  //     left minVal*4 + '%'
  //   .mask:nth-child(4)
  //     left minVal*2 + '%'
  //   .mask:nth-child(5)
  //     left minVal*3 + '%'
  //   .mask:nth-child(6)
  //     left 0
  //     top minVal*2 + '%'
  //   .mask:nth-child(7)
  //     top minVal*2 + '%'
  //     left minVal + '%'
  //   .mask:nth-child(8)
  //     top minVal*3 + '%'
  //     left 0
  //   .mask:nth-child(9)
  //     top minVal*3 + '%'
  //     left minVal + '%'
  //   .mask:nth-child(10)
  //     top minVal*3 + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(11)
  //     top minVal*3 + '%'
  //     left minVal*3 + '%'
  //   .mask:nth-child(12)
  //     top minVal*2 + '%'
  //     left minVal*4 + '%'
  //   .mask:nth-child(13)
  //     top minVal*2 + '%'
  //     left minVal*5 + '%'
  //   .mask:nth-child(14)
  //     top minVal*3 + '%'
  //     left minVal*4 + '%'
  //   .mask:nth-child(15)
  //     top minVal*3 + '%'
  //     left minVal*5 + '%'
  //
  // .config.three-up
  //   .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
  //     top minVal + '%'
  //     width minVal*2 + '%'
  //     height minVal*2 + '%'
  //   .mask:nth-child(2)
  //     left minVal*2 + '%'
  //   .mask:nth-child(3)
  //     left minVal*4 + '%'
  //   .mask:nth-child(4)
  //     left 0
  //   .mask:nth-child(5)
  //     left minVal + '%'
  //   .mask:nth-child(6)
  //     left minVal*2 + '%'
  //   .mask:nth-child(7)
  //     left minVal*3 + '%'
  //   .mask:nth-child(8)
  //     left minVal*4 + '%'
  //   .mask:nth-child(9)
  //     left minVal*5 + '%'
  //   .mask:nth-child(10)
  //     left 0
  //     top minVal*3 + '%'
  //   .mask:nth-child(11)
  //     left minVal + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(12)
  //     left minVal*2 + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(13)
  //     left minVal*3 + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(14)
  //     left minVal*4 + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(15)
  //     left minVal*5 + '%'
  //     top minVal*3 + '%'
  //
  // .config.three-up-balance-right
  //   .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
  //     width minVal*2 + '%'
  //     height minVal*2 + '%'
  //   .mask:nth-child(1)
  //     top minVal + '%'
  //   .mask:nth-child(2)
  //     left minVal*4 + '%'
  //   .mask:nth-child(3)
  //     left minVal*4 + '%'
  //     top minVal*2 + '%'
  //   .mask:nth-child(4)
  //     left 0
  //   .mask:nth-child(5)
  //     left minVal + '%'
  //   .mask:nth-child(6)
  //     left minVal*2 + '%'
  //   .mask:nth-child(7)
  //     left minVal*3 + '%'
  //   .mask:nth-child(8)
  //     left minVal*2 + '%'
  //     top minVal + '%'
  //   .mask:nth-child(9)
  //     left minVal*3 + '%'
  //     top minVal + '%'
  //   .mask:nth-child(10)
  //     left minVal*2 + '%'
  //     top minVal*2 + '%'
  //   .mask:nth-child(11)
  //     left minVal*3 + '%'
  //     top minVal*2 + '%'
  //   .mask:nth-child(12)
  //     top minVal*3 + '%'
  //   .mask:nth-child(13)
  //     left minVal + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(14)
  //     left minVal*2 + '%'
  //     top minVal*3 + '%'
  //   .mask:nth-child(15)
  //     left minVal*3 + '%'
  //     top minVal*3 + '%'
  //
  // .config.three-up-balance-left
  //   .mask:nth-child(1), .mask:nth-child(2), .mask:nth-child(3)
  //     width minVal*2 + '%'
  //     height minVal*2 + '%'
  //   .mask:nth-child(1)
  //     left 0
  //   .mask:nth-child(2)
  //     top minVal*2 + '%'
  //   .mask:nth-child(3)
  //     top minVal + '%'
  //     left minVal*4 + '%'
  //   .mask:nth-child(4)
  //     left minVal*2 + '%'
  //   .mask:nth-child(5)
  //     left minVal*3 + '%'
  //   .mask:nth-child(6)
  //     left minVal*4 + '%'
  //   .mask:nth-child(7)
  //     left minVal*5 + '%'
  //   .mask:nth-child(8)
  //     top minVal + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(9)
  //     top minVal + '%'
  //     left minVal*3 + '%'
  //   .mask:nth-child(10)
  //     top minVal*2 + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(11)
  //     top minVal*2 + '%'
  //     left minVal*3 + '%'
  //   .mask:nth-child(12)
  //     top minVal*3 + '%'
  //     left minVal*2 + '%'
  //   .mask:nth-child(13)
  //     top minVal*3 + '%'
  //     left minVal*3 + '%'
  //   .mask:nth-child(14)
  //     top minVal*3 + '%'
  //     left minVal*4 + '%'
  //   .mask:nth-child(15)
  //     top minVal*3 + '%'
  //     left minVal*5 + '%'
