html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#map{
  background-color: black;
  width: 100%;
  height: 100%;
}

.block{
  width: 50%;
  height: 50%;
  display: inline-block;
  overflow: hidden;
}

#block-0{
  background-color: green;
}
#block-1{
  background-color: red;
}
#block-2{
  background-color: blue;
}
#block-3{
  background-color: yellow;
}

.unit{
  display: inline-block;
  width: 50%;
  height: 50%;
}

.unit-1{
  background-color: rgba(0,0,0,.2);
}
.unit-2{
  background-color: rgba(0,0,0,.2);
}
